@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}


body { 
    background-image: url(../img/Pirata5.jpg);
    background-repeat: no-repeat;
    background-size: cover;   
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 90%;
    height: 90vh;
    margin: 2rem auto;
    background-image: url(../img/pirat3.png);
    background-repeat: no-repeat;
    background-size:250px;
    background-position: 10% 100%;
    
}

header {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.logo {
    height: 8vh;
    margin: 0.5rem;
}

.titulo {
    font-size: 2.5vw;
    margin: 0.5rem auto;
    font-family: 'Kalam', cursive;
    color: white;
    text-shadow: 1px 1px 2px black;
}


.principal {
    width: 100%;
    height: 80vh;
}

.juego {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
}

.zona-juego {
    height: 70vh;
    margin-right: 0.8rem;
}

.ahorcado {
    display: flex;    
    width: 30vw;
    height: 56vh;
    background-color: rgba(229, 245, 245, 0.5);
    /* background-image: url(../img/Estado0.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 50%; */
    border-radius: 1rem 1rem 0 0;
    border: 2px solid darkblue;
}

.pirata {
    min-width: 100%;
    min-height: 100%;
}


.adivinadas {
    width: 30vw;
    height: 12vh;
    background-color: rgba(229, 245, 245, 0.5);   
    margin: 1rem auto 0;
    border-radius: 0 0 1rem 1rem;
    border: 2px solid darkblue;
    display: flex;
    flex-direction: row;
}

.words-acertadas {
    resize: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    margin: 0.5rem;
    padding: 0.2rem;
    font-size: 2rem;
    font-family: 'Roboto Condensed', sans-serif;
    color: darkblue;
    border-bottom: solid 2px darkblue;
    background-color: transparent;
    text-align: center;

}

.words-acertadas
.interactivo {
    height: 70vh;
    border-radius: 1rem;
    text-align: center;
}

.incorrectas {
    width: 35vw;
    height: 50%;
    background-color: rgba(12, 3, 63, 0.6);    
    border-radius: 1rem 1rem 0 0;
    border: 2px solid darkblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.words-incorrectas {
    background-color: transparent;
    text-align: center;
    resize: none;
    width: 3rem;
    height: 3rem;
    margin: 0.2rem;
    font-size: 2rem;
    font-family: 'Roboto Condensed', sans-serif;
    color: yellow;
   
}

.botones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    align-content: center;
    background-color: rgba(229, 245, 245, 0.2);
    border-radius: 0 0 1rem 1rem;
    border: 2px solid darkblue;   
}

.btn-nuevo {
    cursor: pointer;
    background-color: #f1c40f;
    width: 75%;
    height: 25%;
    font-size: 2vw;
    font-family: 'Kalam', cursive;
    color: darkblue;
    margin-bottom: 1rem;
    border-radius: 4rem 0.5rem 4rem 2rem;
}

.btn-nuevo:hover {
    background-color: #c29d0b;
    color: white;
    transform: scale(1.1);
    transition: 1000ms;
}

.btn-desistir {
    cursor: pointer;
    background-color: #130f40;
    width: 65%;
    height: 24%;
    margin-top: 1rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 2vw;
    font-family: 'Kalam', cursive;
    border-radius: 3rem 0.6rem 4rem 2rem;
}

.btn-desistir:hover {
    background-color: #1d1766;
    color: yellow;
    transform: scale(1.1);
    transition: 1000ms;
}