@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}


body { 
    background-image: url(../img/Pirata1.jpg);
    background-repeat: no-repeat;
    background-size: cover;   
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 90%;
    height: 90vh;
    margin: 2rem auto;
  
    background-repeat: no-repeat;
    background-size:cover;
}

header {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.logo {
    height: 80%;
    margin: 0.5rem;
}

.titulo {
    font-size: 2.5vw;
    margin: 0.5rem auto;
    font-family: 'Kalam', cursive;
    color: #0A3871;
    text-shadow: 1px 1px 2px black;

}

.principal {
    width: 100%;
    height: 80vh;
    background-image: url(../img/Piratica.png);
    background-repeat: no-repeat;
    background-size:150px;
    background-position: 19% 65%;
}

.botones {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 40%;
    margin-top: 15rem;
}

.btn-iniciar_juego {
    cursor: pointer;
    width: 30%;
    height: 40%;
    margin: 0.6rem;
    border-radius: 4rem 0.5rem 4rem 2rem;
    font-size: 3vw;
    font-family: 'Kalam', cursive;
    background-color: #eb4d4b;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: yellow;
}

.btn-iniciar_juego:hover {
    background-color: #ec2f2c;
    color: yellow;
    transform: scale(1.1);
    transition: 1000ms;
}

.btn-ingresar_palabra {
    cursor: pointer;
    width: 20%;
    height: 40%;
    margin: 0.6rem;
    border-radius: 4rem 0.5rem 4rem 2rem;
    font-size: 2vw;
    font-family: 'Kalam', cursive;
    color: white;
    background-color: #130f40;
}

.btn-ingresar_palabra:hover {
    background-color: #1a145c;
    color: yellow;
    transform: scale(1.1);
    transition: 1000ms;
} 

footer {
    width: 100%;
    height: 6vh;
}

.pie {
    width: 100%;
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: left; 
    align-items: center;
}

.pie p {
    margin-right: 2rem;
    font-family: 'Roboto Condensed', sans-serif;
    color: darkblue;
    font-size: 1.3rem;
    font-weight: bold;
    margin-left: 1rem;
}

.ln {
    margin-right: 5rem;
}

.git, .ln {
    height: 4vh;
    margin-left: 1rem;
}



